---
title: "Introducing Auto-DNS verification in the new Search Console | Google Search Central Blog | Google for Developers"
source_url: https://developers.google.com/search/blog/2019/09/auto-dns-verification
category: google-search-central
section: "Google Search Central — official technical SEO + structured data docs"
date: 2019-09-03
---

# Introducing Auto-DNS verification in the new Search Console | Google Search Central Blog | Google for Developers

Tuesday, September 03, 2019

Back in February, we announced
[domain-wide data in Search Console](/search/blog/2019/02/announcing-domain-wide-data-in-search),
to give site owners a comprehensive view of their site, removing the need to switch between
different properties to get the full picture of your data.

We've seen lots of positive reactions from users who verified domain properties. A common feedback we heard from users is that before moving to domain properties they were underestimating their traffic, and the new method helped them understand their clicks and impressions aggregated data more effectively. When we asked Domain property users about their satisfaction with the feature, almost all of them seem to be satisfied. Furthermore, most of these users reported that they find domain properties more useful than the traditional URL prefix properties.

However, changing a DNS record is not always trivial, especially for small and medium businesses. We heard that the main challenge preventing site owners from switching to Domain properties is getting their domain verified. To help with this challenge, we collaborated with various domain name registrars to automate part of the verification flow. The flow will guide you through the necessary steps needed to update your registrar configuration so that your DNS record includes the verification token we provide. This will make the verification process a lot easier.

### How to use Auto-DNS verification

To verify your domain using the new flow, click 'add property' from the property selector (drop
down on top of Search Console sidebar). Then, choose the 'Domain' option. The system will guide
you through a series of steps, including a visit to the registrar site where you need to apply
changes—there will be fewer and easier steps than before for you to go through. You can
learn more about
[verifying your site](https://support.google.com/webmasters/answer/9008080)
at the Help Center.

We hope you can use this new capability and gain ownership of your Domain property today. As
always, please let us know if there is anything we can do to improve via the product feedback
button, the
[Webmasters community](https://support.google.com/webmasters/threads?thread_filter=(category:search_console))
or mention us
[on Twitter](https://twitter.com/googlesearchc).
